{% load static %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }}{% endif %}</title>

    {% block header_meta %}
    <title>Tobi DEGNON</title>
    <meta name="description" content="Tobi DEGNON online portfolio and web developer blog.">
    <meta name="keywords" content="developer, backend, python, django, htmx, fastapi, database, web, blog">
    {% endblock header_meta %}

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/code.css' %}">
    <script defer src="{% static 'vendors/htmx/htmx.min.js' %}"></script>
    <script defer src="{% static 'vendors/htmx/head-support.js' %}"></script>
    {% endcompress css %}

    <!-- <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.sand.min.css"
  > -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css"> -->
    <script defer data-domain="oluwatobi.dev" src="https://plausible.service.dotfm.me/js/script.js"></script>

    <!-- favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="bg-zinc-900 text-zinc-5">

    <main class="container mx-auto prose md:prose-lg  prose-invert">{% block content %}{% endblock content %}</main>
</body>

</html>